.infoBox {
  position: "relative";
  float: right;
  background-color: #ffe1af;
  border-left: 4px solid black;
  max-width: 30%;
  padding: 0 20px 0 20px;
  transition: width 0.5s, padding 0.5s;
  transition-timing-function: ease-in-out;
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  font-family: "OldSchoolAdventures";
  color: #7e4747;
}
