.cardBox {
  position: relative;
  margin: 5px;
  border: 2px solid black;
  aspect-ratio: 75 / 132;
  height: 12em;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 15px;
}

.cardBack {
  background-color: #000000;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #c499d3 25%, transparent 25%),
    linear-gradient(225deg, #c499d3 25%, transparent 25%),
    linear-gradient(45deg, #c499d3 25%, transparent 25%),
    linear-gradient(315deg, #c499d3 25%, #000000 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
}

.upsideDown {
  transform: rotate(180deg);
}
